/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 1em 0 2em 0;
    letter-spacing: 15pt;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2ex;
    font-weight: normal;
    letter-spacing: 5pt;
    line-height: 3ex;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 3em;
    margin: 0;
}

a:-webkit-any-link{
text-decoration:none !important;
}

a:hover {
    color: none;
    text-decoration: none;
}

#main-container {
    width: 80%;
    min-width: 40%;
    margin: 0 auto;
}

.button-section {
    width: 30%;
    float: left;
    box-sizing: border-box;
    }

.feelings {
    margin-top: 0;
    padding: 0;
}

.feelings li {
    list-style: none;
}

.mad {
    border-bottom: 5px solid #383231 ;
    background: linear-gradient(
    #4e4847 , #4e4847  50%, #383231  50%, #383231     );
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.mad:hover {
    background-position: 100% 100%;
}

.scared {
    border-bottom: 5px solid #caccd4 ;
    background: linear-gradient(
    #E2E5EE , #E2E5EE  50%, #caccd4  50%, #caccd4     );
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.scared:hover {
    background-position: 100% 100%;
}

.joyful {
    border-bottom: 5px solid #569387 ;
    background: linear-gradient(
    #61A598 , #61A598  50%, #569387  50%, #569387     );
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.joyful:hover {
    background-position: 100% 100%;
}

.powerful {
    border-bottom: 5px solid #5b5b7c ;
    background: linear-gradient(
    #66668B , #66668B  50%, #5b5b7c  50%, #5b5b7c     );
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.powerful:hover {
    background-position: 100% 100%;
}

.peaceful {
    border-bottom: 5px solid #c5be92 ;
    background: linear-gradient(
    #DDD5A4 , #DDD5A4  50%, #c5be92  50%, #c5be92     );
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.peaceful:hover {
    background-position: 100% 100%;
}

.sad {
    border-bottom: 5px solid #bab5b7 ;
    background: linear-gradient(
    #D1CBCD , #D1CBCD  50%, #bab5b7  50%, #bab5b7     );
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.sad:hover {
    background-position: 100% 100%;
}

.music-section {
    width: 70%;
    float: left;
    box-sizing: border-box;
    background-color: #777;
    padding-bottom: 3em;
}

.image-container {
    text-align: center;
    margin-top: 3em;
}

.audio-player, .audio-player div, .audio-player h2, .audio-player a, .audio-player span, .audio-player button iframe {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

div.audio-player {
    width: 570px;
    margin: 3em auto 0;
    text-align: center;
    border-top: 1px solid rgba(255,255,255, 0.3);
    padding-top: 1.5em;
}
.audio-player h2 {
    top: 7px;
    left: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ececec ;
}

#audio-player {
  margin: 5.4em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
